html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0 auto;
  max-width: 60em;
  font-family: 'Nanum Gothic';
  font-size: 16px;
  color: #444;
  background-color: #ecf2f5;
}

body.server-store {
  background-color: #f8f2ea;
}

h1 {
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}

kbd {
  font-family: 'Consolas', monospace;
  padding: 0 0.2em;
  background-color: #eee;
}

em {
  font-style: normal;
  color: #000;
  background-color: #a1d5f8;
  padding: 0 0.2em;
  border-radius: 4px;
}

textarea, input[type="text"] {
  box-sizing: border-box;
  padding: 0.2em 0.5em;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  color: #444;
}

textarea {
  margin: 0 auto 1em;
  width: 100%;
  height: 10em;
  font-family: 'Consolas', monospace;
  font-size: inherit;
  letter-spacing: 0.05em;
  word-spacing: 0.3em;
  color: #555;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #08f;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 128, 255, 0.4);
  outline: none;
  color: #004b7e;
}

input[type="text"] {
  margin: 0 0.5em;
  font: inherit;
  line-height: 1;
  height: 2em;
}

#tab {
  margin-bottom: 1em;
  overflow: hidden;
}

.tab-note {
  float: left;
  padding: 0;
  margin: 0 0 0.4em 0;
}

.tab-note,
.spacer {
  width: 1.3em;
}


.tab-note li {
  list-style: none;
  padding: 0;
  margin: 0 0 0.1em;
  line-height: 0.85;
  width: 0.8em;
  height: 0.85em;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
}

.tab-note li:nth-child(4) {
  margin-top: 0.5em;
}

.tab-note li.tab-note {
  position: relative;
  padding-top: 0.6em;
  white-space: no-wrap;
  background: none;
  border-radius: 0;
  width: 1em;
}

.tab-note .sharp {
  display: inline-block;
  vertical-align: 10%;
  width: 0;
  margin-left: -0.2em;
  padding-right: 0.2em;
  font-size: 70%;
  text-shadow: -1px 1px #fff;
}

.tab-note li sup {
  position: absolute;
  top: -0.1em;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 70%;
  color: #000;
}

.tab-note.error {
  color: #c00;
}

.spacer {
  float: left;
  height: 1em;
}

.comment + .comment,
.comment + .tab-note {
  clear: left;
}

.comment {
  float: left;
  margin: 0 0 0.3em;
  white-space: pre;
  font-size: 0.8em;
  letter-spacing: -0.05em;
}

/* end of line comments */
.spacer + .comment,
.tab-note + .comment {
  margin-top: 3.5em;
}

.spacer + .comment.heading,
.tab-note + .comment.heading {
  margin-top: 2em;
}

.comment.heading {
  font-size: 1.2em;
  letter-spacing: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.2em;
  margin-bottom: 0.4em;
}

.line-break {
  width: 1em;
  height: 0;
  clear: both;
}

.comment + .line-break,
.line-break + .line-break {
  height: 1em;
}

form {
  box-sizing: border-box;
  margin: 0 0 1em;
  width: 50%;
  float: left;
}

#tab + form,
#save-tab-form + form {
  clear: both;
}

fieldset {
  border: 1px solid #ccc;
}

input[type="radio"] {
  margin-right: 0.5em;
}

.tab-list label {
  display: block;
  margin-bottom: 0.5em;
}

legend {
  color: #000;
}

button {
  border: 1px solid #888;
  font: inherit;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin-right: 1em;
  background-color: #eee;
}

.warning {
  border-color: #b80;
  color: #b80;
  background-color: #f8f8ea;
}
.danger {
  border-color: #c00;
  color: #c00;
}

footer {
  clear: both;
  font-size: 80%;
}

@media screen {
  h1.print-only {
    border: none;
    font-size: 1rem;
    margin: 0 0 1em;
    color: #000;
  }
  h1.print-only::before {
    content: 'Print title: ';
    color: #888;
  }

  h1.print-only::after {
    content: ' (save or load a tab to set title)';
    color: #888;
  }
}

@media print {
  body {
    max-width: auto;
    color: #000;
    margin: 1em 2em;
    font-size: 14px;
  }

  h1, p, textarea, form {
    display: none;
  }

  footer p,
  h1.print-only {
    display: block;
  }

  a {
    text-decoration: none;
    color: #000;
  }
  a::after {
    content: ' (' attr(href) ')';
  }
}
