html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0 auto;
  max-width: 60em;
  font-family: 'Nanum Gothic';
  font-size: 16px;
  color: #444;
  background-color: #f4f4f4;
  background-image: url('/whistletab/contemporary_china.png');
}

body.server-store {
  background-color: #f8f2ea;
  background-image: none;
}

body.white-background {
  background-color: #fff;
  background-image: none;
}

h1 {
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}

h2 {
  font-weight: normal;
  font-size: 0.8em;
  margin: 0 0 1em;
  color: #888;
}

a {
  color: #08f;
  text-decoration: none;
  border-bottom: 1px solid #08f;
}

a[href=""] {
  border: none;
  color: #888;
}

kbd {
  font-family: 'Consolas', monospace;
  padding: 0 0.2em;
  background-color: #eee;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

em {
  font-style: normal;
  color: #000;
  background-color: #fff;
  padding: 0 0.2em;
  border-radius: 4px;
}

textarea,
input[type="text"],
input[type="url"] {
  box-sizing: border-box;
  padding: 0.2em 0.5em;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  color: #444;
}

textarea {
  margin: 0 auto 0.5em;
  width: 100%;
  height: 10em;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.05em;
  word-spacing: 0;
  color: #555;
  overflow: auto;
  white-space: pre;
}

input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus {
  border-color: #08f;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 128, 255, 0.4);
  outline: none;
  color: #004b7e;
}

input[type="url"],
input[type="text"] {
  margin: 0 0.5em;
  font: inherit;
  line-height: 1;
  height: 2em;
}

input[type="url"] {
  width: 20em;
}

#save-tab-form label + label {
  margin-left: 1em;
}

#tab {
  padding-left: 0.5em;
  margin-bottom: 1em;
  overflow: hidden;
  padding-left: 33px;
}

.tab-note {
  float: left;
  padding: 0;
  margin: 0.5em 0 0.4em;
}

.tab-note,
.spacer {
  width: 1.2em;
}

.spacing1 .tab-note, .spacing1 .spacer { margin-right: 0.1em; }
.spacing2 .tab-note, .spacing2 .spacer { margin-right: 0.2em; }
.spacing3 .tab-note, .spacing3 .spacer { margin-right: 0.3em; }
.spacing4 .tab-note, .spacing4 .spacer { margin-right: 0.50em; }
.spacing5 .tab-note, .spacing5 .spacer { margin-right: 0.55em; }
.spacing6 .tab-note, .spacing6 .spacer { margin-right: 0.60em; }
.spacing7 .tab-note, .spacing7 .spacer { margin-right: 0.65em; }
.spacing8 .tab-note, .spacing8 .spacer { margin-right: 0.70em; }
.spacing9 .tab-note, .spacing9 .spacer { margin-right: 0.75em; }
.spacing10 .tab-note, .spacing10 .spacer { margin-right: 0.8em; }

#spacing-label {
  display: block;
  margin-bottom: 0.7em;
}

#spacing {
  margin-left: 0.5em;
  width: 20em;
}


.tab-note li {
  list-style: none;
  padding: 0;
  margin: 0 0 0.1em;
  line-height: 0.85;
  width: 0.8em;
  height: 0.75em;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
}

.tab-note li:nth-child(4) {
  margin-top: 0.5em;
}

.tab-note li:nth-child(6) {
  margin-bottom: 0.7em;
}


.tab-note li.tab-note-text {
  position: relative;
  white-space: no-wrap;
  background: none;
  border-radius: 0;
  width: 1em;
}

.tab-note-text .sharp {
  display: inline-block;
  vertical-align: 10%;
  width: 0;
  margin-left: -0.2em;
  padding-right: 0.2em;
  font-size: 70%;
  text-shadow: -1px 1px #fff;
}

.tab-note li sup {
  position: absolute;
  top: -0.7em;
  left: -0.1em;
  width: 100%;
  text-align: center;
  font-size: 70%;
  color: #000;
}

.tab-note.error {
  color: #c00;
}

.slur {
  float: left;
  width: 0;
  margin-top: 2.8em;
  transform-origin: 20% 60%;
  transform: rotate(-90deg);
  vertical-align: top;
}

.spacing2 .slur { transform: rotate(-90deg) translateY(-0.1em); }
.spacing3 .slur { transform: rotate(-90deg) translateY(-0.2em); }
.spacing4 .slur { transform: rotate(-90deg) translateY(-0.3em); }
.spacing5 .slur { transform: rotate(-90deg) translateY(-0.3em); }
.spacing6 .slur { transform: rotate(-90deg) translateY(-0.3em); }
.spacing7 .slur { transform: rotate(-90deg) translateY(-0.3em); }
.spacing8 .slur { transform: rotate(-90deg) translateY(-0.4em); }
.spacing9 .slur { transform: rotate(-90deg) translateY(-0.4em); }
.spacing10 .slur { transform: rotate(-90deg) translateY(-0.4em); }

.spacer {
  float: left;
  height: 1.5em;
}

.comment .spacer {
  text-align: center;
  height: 1em;
}

.comment + .comment,
.comment + .tab-note {
  clear: left;
}

.comment {
  float: left;
  margin: 0;
  white-space: pre;
  letter-spacing: 0;
  overflow: visible;
}

.comment .word {
  font-family: 'IBM Plex Sans Condensed', 'Arial Narrow';
  display: inline-block;
  font-size: 13px;
  margin-left: -.4em;
  letter-spacing: -1px;
}

.spacer + .comment.heading,
.tab-note + .comment.heading {
  margin-top: 2em;
}

.comment.heading {
  font-size: 1.2em;
  letter-spacing: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.2em;
  margin-bottom: 0.4em;
}

.comment.text {
  font-size: 0.9em;
  color: #000;
}

.line-break {
  width: 1em;
  height: 0;
  clear: both;
}

.line-break + .line-break {
  height: 1em;
}

.staff {
  display: none;
  clear: both;
  background-color: white;
  margin-bottom: 0.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin-left: -33px;
  font: inherit;
}

.white-background .staff {
  box-shadow: none;
}

.staff .pitch-sign {
  font: inherit;
  font-size: 1em;
  stroke: rgba(0, 0, 0, 0.2);
}

.staff .staff-note-text {
  font: inherit;
  letter-spacing: -3.5px;
  font-size: 0.8em;
}

.staff line {
  stroke-width: 1px;
}

/* Display options */
                .lyric { display: none; }
.show-lyrics    .lyric { display: block; }

                .tab-note li.tab-note-text { height: 0; }
.show-notes     .tab-note li.tab-note-text { height: auto; }

                .tab-note--letter { display: none; }
                .tab-note--letter + sup { display: none; }
.show-notes     .tab-note--letter { display: inline; }
.show-notes     .tab-note--letter + sup { display: inline; }

                .slur, .finger { display: none; }
.show-fingering .finger, .show-fingering .slur { display: block; }

.show-staves .staff { display: block; }

form {
  box-sizing: border-box;
  margin: 0 0 1em;
  padding: 0;
}

form.tab-list {
  border: 1px solid #ccc;
  position: relative;
  background-color: #fafafa;
}

.tab-list.collapsed label,
.tab-list.collapsed .form-buttons,
.tab-list.collapsed p {
  display: none;
}

.break-float {
  clear: both;
  display: block;
  margin-bottom: 1em;
}

#tab + label,
#save-tab-form + form {
  clear: both;
}

fieldset {
  padding: 0.4em 0.7em;
  border: none;
}

.tab-list fieldset {
  padding-top: 2.4em;
}

.tab-list.collapsed fieldset {
  padding: 1.7em 0 0 0;
}

fieldset p {
  margin-top: 0.2em;
  margin-bottom: 0.7em;
}

input[type="radio"] {
  margin-right: 0.5em;
}

.tab-list label {
  display: block;
  margin-bottom: 0.5em;
}

.tab-list legend {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  height: 1.7em;
  line-height: 1.7em;
  padding-left: 0.5em;
  color: #444;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.tab-list legend:hover {
  background-color: #fff;
  color: #000;
}

.tab-list legend::before {
  display: inline-block;
  width: 1em;
  content: "\2212";
}

.tab-list.collapsed legend::before {
  color: #000;
  content: "+";
}

.form-buttons {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

button {
  border: 1px solid #888;
  font: inherit;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  margin-right: 1em;
  background-color: #eee;
}

.warning {
  border-color: #b80;
  color: #b80;
  background-color: #f8f8ea;
}
.danger {
  border-color: #c00;
  color: #c00;
}

footer {
  clear: both;
  font-size: 80%;
}

@media screen {
  h1.print-only {
    border: none;
    font-size: 1rem;
    margin: 0 0 0.3em;
    color: #000;
  }
  h1.print-only::before {
    content: 'Print title: ';
    color: #888;
  }

  h1.print-only::after {
    content: ' (save or load a tab to set title)';
    color: #888;
  }
}

@media print {
  body {
    max-width: auto;
    color: #000;
    margin: 1em 2em;
    font-size: 14px;
    background: none;
  }

  h1, p, textarea, form, fieldset, #spacing-label {
    display: none;
  }

  footer p,
  h1.print-only {
    display: block;
  }

  a {
    text-decoration: none;
    color: #000;
  }
  a::after {
    content: ' (' attr(href) ')';
  }

  .comment.lyric + .line-break + .tab-note,
  .comment.lyric + .line-break,
  .staff {
    page-break-before: avoid;
  }

  .staff {
    box-shadow: none;
  }
}
